.terminal {
  width: 80vw;
  height: 80vh;
  border-radius: var(--border-radius-1);
  background-color: var(--surface-1);

  &-header {
    display: flex;
    justify-content: space-between;
    padding: .9rem 2.2rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -2px 48px rgb(0 0 0 / 15%);
    background-color: var(--surface-3);
  }
}
