:root,
:root[data-scheme="nord"] {
  --text-1: #fff;
  --text-2: #2e3440;
  --text-3: #ebcb8b;
  --icon-default: #fff;
  --highlighted-icon: #a3be8c;
  --branch-icon: #a3be8c;
  --linux-icon: #fff;
  --surface-1: #79a2d4;
  --number-default: #4c566a;
  --vim-expression: #81a1c1;
  --vim-method: #88c0d0;
  --vim-operator: #81a1c1;
  --vim-string: #a3be8c;
}
