:root,
:root[data-scheme="nord"] {
  // Text
  --text-1: #fff;
  --text-2: #2e3440;
  --text-3: #ebcb8b;

  // Icons
  --icon-default: #fff;
  --highlighted-icon: #a3be8c;
  --branch-icon: #a3be8c;
  --linux-icon: #fff;

  // Backgrounds
  --surface-1: #2e3440;
  --surface-2: #79a2d4;
  --surface-3: #272b34;

  // Vim
  --number-default: #4c566a;
  --vim-expression: #81a1c1;
  --vim-method: #88c0d0;
  --vim-operator: #81a1c1;
  --vim-string: #a3be8c;
  --vim-nav-icon: #b48ead;
}
