@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-ant-design_download-outlined:before {
	content: "\E001";
}

.icon-bx_code:before {
	content: "\E002";
}

.icon-bx_folder:before {
	content: "\E003";
}

.icon-bx_git-branch:before {
	content: "\E004";
}

.icon-bxl_tux:before {
	content: "\E005";
}

.icon-ic_outline-color-lens:before {
	content: "\E006";
}

.icon-ri_arrow-right-s-line:before {
	content: "\E007";
}

.icon-ri_fullscreen-fill:before {
	content: "\E008";
}

.icon-ri_layout-left-line:before {
	content: "\E009";
}

.icon-ri_layout-right-line:before {
	content: "\E00A";
}

.icon-ri_terminal-box-line:before {
	content: "\E00B";
}
